body {
    background-color: lightblue;
}
.signupBlock {
    border: 1px solid gray;
    background: white;
    padding: 30px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    top: 60px
}
.w-100 {
    width: 100%;
}
.bgBLueviolet {
    background-color: blueviolet;
}
button {
    background-color: blueviolet;
}